name: 'Docker: Scan latest release image'

on:
  schedule:
    # Scan the image regularly (once a day).
    - cron: '44 4 * * *'

env:
  REGISTRY: "ghcr.io"
  IMAGE_NAME: "sando38/ejabberd"
  PATCH_DIR: "image"

jobs:
  build:
    permissions:
      contents: read # For actions/checkout to fetch code.
      security-events: write # For github/codeql-action/upload-sarif to upload SARIF results.
    name: Scan current image & report results
    runs-on: "ubuntu-latest"
    steps:
      -
        name: Check out repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      -
        name: Extract container image tag
        run: |
          echo "TAG=$(awk 'END{print}' ${{ env.PATCH_DIR }}/tag)" >> $GITHUB_ENV
      -
        name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}'
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH,MEDIUM'
          vuln-type: "os"
      -
        name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: 'trivy-results.sarif'
